:root {
  /* Colors: */
  --black-color: #000000;
  --white-color: #EEEEEE;
  --red-color: #D9391E;
  --yellow-color: #FFDE59;
  --default-padding-value: 10px;
  }

#root {
  max-width: 1920px;
  margin: 0px;
  padding: var(--default-padding-value);
}
