.background {
  width: 100%;
  height: 100%;
  background-image: url("/src/imgs/Sfondo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tomatime {
  position: absolute;
  top: 10%;
  left: 180px;
  width: 20%;
  aspect-ratio: 5/1;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 91px;
  background-image: url("src/imgs/tomatime.png");
}

.break {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);

  width: 17.5%;
  aspect-ratio: 5/1;
  background-size: 100%;
  background-repeat: no-repeat;

  /*   
  top: 390px;
  left: 685px; */
  height: 150px;
  background-image: url("src/imgs/time_to_not_focus_for_a_break.png");
}
