.external-div {
  background-color: #ffffff;
  width: 3rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
}

.counter-icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.brokenTask .counter-icon {
  margin-top: 5px;
}
