.popup_login {
  position: absolute;
  bottom: 10%;
  left: 80px;
  width: 30%;
  /* width: 420px; */
  /* height: 380px; */
  /* UI Properties */
  box-shadow: 0px 3px 10px #00000033;
  border-radius: 32px;
  opacity: 1;
  background-color: #ffffff;
}

.login {
  position: absolute;
  top: 225px;
  left: 120px;
  width: 129px;
  height: 45px;
  /* UI Properties */
  background: transparent url("src/imgs/Login.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.form1 {
  position: absolute;
  top: 300px;
  left: 120px;
  width: 300px;
  height: 64px;
  border: 0px;
  z-index: 10;
  font-size: x-large;
}

.underbar1 {
  position: absolute;
  top: 350px;
  left: 120px;
  width: 300px;
  height: 1.5px;
  background: transparent url("src/imgs/Linea.png") 0% 0% no-repeat padding-box;
  z-index: 11;
}

.underbar2 {
  position: absolute;
  top: 425px;
  left: 120px;
  width: 300px;
  height: 1.5px;
  background: transparent url("src/imgs/Linea.png") 0% 0% no-repeat padding-box;
  z-index: 11;
}

::placeholder {
  color: black;
  font-size: xx-large;
}

.form2 {
  position: absolute;
  top: 375px;
  left: 120px;
  width: 300px;
  height: 64px;
  border: 0px;
  font-size: x-large;
}

.first_btn {
  top: 710px;
  left: 290px;
  width: 200px;
  height: 60px;
  /* UI Properties */
  opacity: 0.3;
}

a {
  color: black;
}

a:hover {
  color: purple;
}

/* .link {
  position: absolute;
  top: 525px;
  left: 120px;
  letter-spacing: 1.5px;
  font-size: x-large;
  opacity: 1;
} */

.login_btn {
  position: absolute;
  top: 450px;
  left: 180px;
  width: 200px;
  height: 60px;
  /* UI Properties */
  opacity: 0.3;
  background-color: #d9391e;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.text-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eeeeee;
  font-size: X-large;
}

tspan {
  font-size: larger;
  font-family: Sora, Regular;
}
