.container-list {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.container-list:hover {
  background-color: #eeeeee;
}

.check-list {
  width: 27px;
  color: #d9391e;
}
.msg-list {
  color: #d9391e;
  font-size: small;
  margin-right: auto;
  margin-left: 2.5%;
}

.container-arrow-list {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  margin-right: 5%;
  background-color: white;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  border: 0px;
}

.arrow-list {
  color: #d9391e;
  width: 20px;
  margin: auto;
}
