.container-another-list {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4%;
  border: 1px dashed #d9391e;
  border-radius: 8px;
}

.plus-list {
  width: 27px;
  color: #d9391e;
}
.msg-list {
  color: #d9391e;
  font-size: small;
  margin-right: auto;
  margin-left: 2.5%;
}
